@import "tailwindcss";
@import "./typography.css";

@layer base {
  body {
    font-family: "Red Hat Display", sans-serif;
    background-color: var(--color-blue-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("/images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
  }
}

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue-50: #f7f9ff;
  --color-blue-100: #e0e8ff;
  --color-blue-150: #d6e1ff;
  --color-blue-700: #382ae1;
  --color-blue-950: #1f2e55;
  --color-purple-500: #766cf1;
  --color-gray-600: #717fa6;

  --shadow-card-primary: 0 40px 40px rgba(13, 48, 189, 0.1518);
}
