@reference "tailwindcss";

@utility text-preset-1 {
  @apply text-[28px] font-black leading-[1.35];
}

@utility text-preset-2 {
  @apply text-[22px] font-black leading-[1.35];
}

/* Preset 3 y sus variantes */
@utility text-preset-3 {
  @apply text-[16px] leading-[1.65];
}

/* Preset 4 y sus variantes */
@utility text-preset-4 {
  @apply text-[15px] leading-[1.65];
}
